body {
  font-family: system-ui;
  background: #111;
  color: white;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: min(90vw, 320px);
  gap: 6px;
}

.cell {
  background: #eee;
  color: black;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.cell.marked {
  background: limegreen;
  color: white;
}

.cell.winner {
  outline: 3px solid gold;
}

#current {
  font-size: 3rem;
  font-weight: bold;
}

header {
  position: fixed;
  top: 10px;
  right: 10px;
}

#calls {
  max-width: 320px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4px;
  text-align: center;
}
